<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>hello validate</title>
</head>
<body>
<form method="post" action="/hello/validate">
    <table>
        <tr>
            <td>id</td>
            <td><input type="text" name="id"/></td>
        </tr>
        <tr>
            <td>name</td>
            <td><input type="text" name="name"/></td>
        </tr>
        <tr>
            <td>age</td>
            <td><input type="text" name="age"/></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="提交"/></td>
        </tr>
    </table>
</form>
</body>
</html>